.medam-apa{
    filter: brightness(60%);
}

@media screen and (max-width: 576px) {
     .mama{
        flex-direction: column;
        width: 440px;
        justify-content: center;
        margin: 0 auto;
     }
     .mama-pic{

     }
     .mama-pic img{
        width: 100%;
     }
     .mama-descrip{
        padding: 20px 10px;
     }
}
 

/* class="d-flex border p-0 rounded col-sm-12 col-md-12 col-lg-6 mb-4" */