body{
   font-family: 'Poppins', sans-serif;
  }
.medam-apa{
    filter: brightness(60%);
}
.fa-star{
   color: gold;
  }
  .elarning{
   filter: brightness(90%);
  }

/* small device */
@media screen and (max-width: 576px) {
     .mama{
        flex-direction: column;
        width: 440px;
        justify-content: center;
        margin: 0 auto;
     }
     .mama-pic img{
        width: 100%;
     }
     .mama-descrip{
        padding: 20px 10px;
     }
     .join-mama{
      flex-direction: column;
     }
     .join-mama-des{
      width: 100%;
      padding: 0%;
     }
     .student-title{
      text-align: center;
     }
     .rivew-student{
      flex-direction: column;
     }
     .feedback-view-btn{
      display: block !important;
     }
     .companies{
      display: none;
     }
}

/* medium devive */
@media screen and (min-width: 578px) and (max-width: 991px) {
   .join-mama{
      flex-direction: column;
     }
     .students-view-btn{
      visibility: hidden;
     }
     .rivew-student{
      flex-direction: column;
     }
     .feedback-view-btn{
      display: block !important;
     }
     .companies{
      display: none;
     }
}
 

/* class="d-flex border p-0 rounded col-sm-12 col-md-12 col-lg-6 mb-4" */